 
 
    .search-container {
        max-width: 300px;
        margin-right: 45px;
    }
    #search-input {
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.2);
        color: white;
        border-radius: 20px;
        padding: 5px 15px;
        font-size: 14px;
        transition: all 0.3s;
 
    }
    #search-input:focus {
        background: rgba(255, 255, 255, 0.2);
        outline: none;
        box-shadow: 0 0 10px rgba(255,255,255,0.1);
    }
    #search-input::placeholder { color: rgba(255,255,255,0.6); }

 
    .grid-item.is-hidden {
        display: none !important;
    }
	.card-cover{
    width:100%;
    height:180px;
    object-fit:cover;
    display:block;
    border-radius:14px 14px 0 0;
}

.card-body-custom{
    padding:16px;
}

.card-title-custom{
    font-size:20px;
    font-weight:700;
    margin-bottom:10px;
    line-height:1.3;
}

.card-desc-custom{
    font-size:14px;
    opacity:.85;
    line-height:1.6;
    margin-bottom:12px;
}

.card-keywords-custom{
    font-size:12px;
    opacity:.6;
    margin-bottom:15px;
}
 
